# ================
# Frontend (Next.js)
# ================

/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.*
/frontend/.yarn/*
!/frontend/.yarn/patches
!/frontend/.yarn/plugins
!/frontend/.yarn/releases
!/frontend/.yarn/versions

/frontend/coverage
/frontend/.next/
/frontend/out/
/frontend/build

/frontend/.DS_Store
/frontend/*.pem

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

/frontend/.env*
/frontend/.vercel

/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

# ================
# Backend (Express/Node.js)
# ================

/backend/node_modules
/backend/dist
/backend/.env
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

# ================
# Global Common
# ================

